<div class="contenedor_particular">
  <div class="contenedor_logo_educacion">
    <img class="fotoEducacion" src="assets/Linkedin.png" alt="LogoEducacion" />
  </div>

  <div class="contenedor_descripcion">
    <p class="descripcion_titulo">
      Educacion
    </p>
    <p class="descripcion-texto">
      Descripción educación
    </p>

  </div>

  <div class="edicion">
    <button type="button" class="btn btn-light" onclick="cambiar_experiencia_1()">
      <i class="fa fa-pencil"></i>
    </button>

    <button type="button" id="boton_borrar_educacion" class="btn btn-light" onclick="cambiar_experiencia_1()">
      <i class="fa fa-trash"></i>
    </button>


  </div>

</div>


