<div class="contenedor_particular">
  <div class="contenedor_logo_empresa">
    <img class="fotoExperiencia" src="assets/Linkedin.png" alt="LogoEmpresa" />
  </div>

  <div class="contenedor_descripcion">
    <p class="descripcion_titulo">
      Empresa1
    </p>
    <p class="descripcion-texto">
      Descripción del puesto en la empresa
    </p>

  </div>

  <div class="edicion">
    <button type="button" class="btn btn-light" onclick="cambiar_experiencia_1()">
      <i class="fa fa-pencil"></i>
    </button>

    <button type="button" id="boton_borrar_experiencia" class="btn btn-light" onclick="cambiar_experiencia_1()">
      <i class="fa fa-trash"></i>
    </button>


  </div>

</div>

