<div class="perfil">

  <img id="imagenperfil" src="assets/gregg-night-in-the-woods.gif" alt="perfil" />

  <div class="contenedorNombreYFoto">

    <span class="textoUniversidad">Universidad de Buenos Aires</span>

    <img class="fotoUniversidad" src="assets/Linkedin.png" alt="Foto UBA" />

  </div>

  <div>
    <div class="contenedor_nombre_perfil">
      <h1 id="nombre">Santiago Perez Lanzillotta</h1>
    </div>

    <div class="contenedorNombreYFoto">

      <span class="textoUniversidad">Liceo Franco Argentino Jean Mermoz</span>

      <img class="fotoUniversidad" src="assets/Linkedin.png" alt="Foto UBA" />
    </div>
  </div>

  <div class="contenedorInfo_profesion">
    <p id="texto_profesion">Estudiante</p>
  </div>

  <div class="contenedor_caracteristicas">
    <div class="contenedor_pais">
      <span id="texto_pais">Buenos Aires(Argentina)</span>
    </div>

    <div class="contenedor_informacion_contacto">
      <a href="#">Información de contacto</a>

    </div>
  </div>


  <div class="botones_seccion">
    <div class="boton">
      <button type="button" class="btn btn-primary">Tengo interés en</button>
    </div>
    <div class="boton">
      <button type="button" class="btn btn-light">Añadir Sección</button>
    </div>
    <div class="boton">
      <button type="button" class="btn btn-light">Más</button>
    </div>
  </div>


</div>
