.header {
  background-color: pink;
  height: 280px;
  width:100%;
}


.cabeza {
  display: flex;
  position: relative;
  height: 38px;
  width:100%;
  padding-top:5px;
  align-items:center;
}

.logo_programo {
  margin-right: 5px;
  margin-left: 5px;
}

.boton_logging {
  width: 80px;
  margin-right: 10px;
}

.redes {
  min-width:35px;
  margin-left: auto;
  margin-right:5px;
  overflow-x:auto;
}
