<div class="contenedor_soft_hard_particular">
  <div class="contenedor_skill_titulo">
    <span id="skill1_titulo" class="texto_skill">LA HARD SKILL ES ESTA</span>


    <div class="edicion">
      <button type="button" class="btn btn-light" onclick="cambiar_experiencia_1()">
        <i class="fa fa-pencil"></i>
      </button>

      <button type="button" id="boton_borrar_skill" class="btn btn-light" onclick="cambiar_experiencia_1()">
        <i class="fa fa-trash"></i>
      </button>
    </div>

  </div>

  <div class="contenedor_barra_soft_hard">
    <div class="barra_soft_hard_total">
      <div class="barra_pintada" id="skill_1">
        <span class="porcentaje_soft_hard">50%
        </span>
      </div>

    </div>

  </div>

</div>
